kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx
  labels:
    ex: deploymentSet
spec:
  replicas: 3
  selector:
    matchLabels:
      component: frontend
      project: practice
  template:
    metadata:
      name: nginx
      labels:
        component: frontend
        project: practice
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
